@use '../base/variables' as variable;  //as alias de las variables
@use '../base/mixins' as mixin; //mixin de las estructuras como shorcoud 
.footer{
    background-color: variable.$primario;
    .contenido-footer{
        padding: 5rem;
        @include mixin.tablet {
            @include mixin.grid(3,2rem);
                
            
        }
    }
    .copyright{
        text-align: center;
        margin: 0; //esto para que no desborde el footer
        padding: 2rem;
        color: variable.$blanco;
    }
}

.footer-box{
    font-family: variable.$fuente_cursiva;
    text-align: center;
    margin-bottom: variable.$separacion;
    @include mixin.tablet {
        margin-bottom: 0;
    }
    h3{
        font-family: variable.$fuente_cursiva;
        margin: 0 0 1rem 0;
        font-size: 2.4rem;
        color: variable.$primario;
    }
    p,a{
        font-size: 2rem;
        color: variable.$negro;
        margin: 0;
    }
}