@use '../base/variables' as variable;  //as alias de las variables
@use '../base/mixins' as mixin; //mixin de las estructuras como shorcoud 

.contendio-nosotros{

    @include mixin.desktop {
         @include mixin.grid(2,3rem);
     
         
    }
    .imagen{
        
        margin-bottom: 5rem;
        @include mixin.tablet {
            margin: 0rem 2rem 5rem 0rem;
        }
        @include mixin.desktop {
            margin: 0rem 2rem 0rem 0;
        }
        img{
           
            border: 3rem solid variable.$blanco;
            box-shadow: 9px 18px 5px -7px rgb(0 0 0 /.35); //primero  X segundo Y
            transition-duration: .3s; //duracion del evento
        @include mixin.tablet {
            transform: rotate(-6deg);
            &:hover{ //esto es el hover
                transform: scale(1.05) rotate(-6deg);
                cursor: pointer;
    
             }
        }
        
        }
        
    }
    .texto{
        blockquote{
            margin: 0;
            padding: 1rem;
            border-left: .5rem solid variable.$primario;
            font-size: 2rem;

        }
    }
}