@use '../base/mixins' as mixin;

.barra {
    display: flex;
    flex-direction: column;
    @include mixin.tablet {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 3rem;
    }
    .logo{
        width: 50%;
        margin: 0 auto;

        @include mixin.tablet {
            width: 20rem;
            margin: 0;
        }
    }
    
}