@use '../base/variables' as variable;  //as alias de las variables
@use '../base/mixins' as mixin; //mixin de las estructuras como shorcoud 
.encabezado{
padding: 5rem 0;
position: relative; //esto solo funciona cuando  solo relative esta en el padre
background-repeat: no-repeat;
background-size: cover;
    //@include mixins.color; //para usar mixins se incorpora el @incluide
   
    
    
    @include mixin.tablet{
       min-height:65rem ;
    }

   
    

    &::before{ //con el & elimina el espacio y lo pega con la clase padre
        content: '';
        background-color: variable.$negro;
        position: absolute;
        top: 0; /*todos los 0 cubre todo el espacio*/
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .6; //opacidad
    }
    .contenido-header{
     position: relative; //esto lo regresa en adelante

     h1{
        text-align: center;
        color: variable.$blanco;
        text-transform: uppercase;
        margin-top: 5rem;
        @include mixin.tablet {
            margin-top: 10rem;
        }
     }
    }
}
//header de inicio de la pagina
.header-inicio{
 background-image: url(../img/header_inicio.jpg);
}
//header de inicio de la pagina nosotros
.header-nosotros{
    background-image: url(../img/header_nosotros.jpg);
}

//header de la pagina proceso

.header-proceso{
    background-image: url(../img/header_proceso.jpg);
}

//Este es la pagina del menu
.header-menu{
    background-image:url(../img/header_menu.jpg);
}


//Este pertenece ala galeria
.header-galeria{
    background-image: url(../img/header_galeria.jpg);
}
//Este la img de contacto

.header-contacto{
    background-image: url(../img/header_contacto.jpg);
}

