@use '../base/variables' as variable;

.text-center{
    text-align: center;
}

.bg-primario{
 background-color: variable.$primario;
}

.margin-negativo-10{
    margin-top: -10rem;
}

.bg-white {
    background-color: variable.$blanco;
}
.padding-bottom-0{
    padding-bottom: 0;
}
/*Nota:Si se carga al final las utilidades evitara que otras clases tengan otra prioridad
,ya que estas seran las ultimas que se cargaran alas paginas webs*/