@use '../base/variables' as variable;
@use '../base/mixins' as mixin;

.contenido-principal{
    background-color: variable.$blanco;
    padding: 5rem 2rem; 
    @include mixin.tablet {
        padding: 10rem;
        margin-top: -10rem;
        position: relative;
        border-radius: 1rem;
        
    }
}