@use '../base/variables' as variable;
@use '../base/mixins' as mixin;
//Seccion Iconos
.iconos {
    margin-top: 5rem;

    .listado-iconos {
        @include mixin.tablet {
           @include mixin.grid(3, 2rem) //esto es mixin  de grid
            
      
        }

        li {

            img {
                margin: 0 auto;
                width: 12rem;
            }

            p {
                font-family: variable.$fuente_cursiva;
                font-size: 3.2rem;
                color: variable.$primario;
            }
        }
    }

}
