@use '../base/variables' as variable;  //as alias de las variables
@use '../base/mixins' as mixin; //mixin de las estructuras como shorcoud 

.proceso-cafe {
    margin-bottom: variable.$separacion;
    @include mixin.tablet {
    
     display: flex;
     gap: variable.$separacion;
     align-items: center;
        
    }
    &:last-of-type{  //eliina el margin bottom del ultimo elemento
        margin-bottom: -10rem;
    }

    &:nth-child(even){ //even se lo  aplica a numeros pares  //odd numeros impares
        .texto{
            order: 1; //con esto es posible agrupar los elementos en order
        }

        .imagen{
            order: 2; //con esto es posible agrupar los elementos en order
        }
    }

/*
    &:nth-child(4){
        .texto{
            order: 1; //con esto es posible agrupar los elementos en order
        }

        .imagen{
            order: 2; //con esto es posible agrupar los elementos en order
        }
    }*/

    .imagen,.texto{
        flex: 1; //esto va divir 50% cada columna o fila
    }

   .texto{
    margin-top: 1rem;
    h3{
        margin: 0;
       text-align: left;
       color: variable.$primario;
        &::after{
            content: '';
            display: block;
            width: 50%;
            height: 5px;
            background-color: variable.$secundario;

        }
    }
   }
}